#color-edit {
    color: rgb(255, 204, 137);
}
body{
   font-family: 'Montserrat', sans-serif;}
section{
    display: flex;
}   
.top-section {
   width: 40%;
   padding-left: 10%;
   padding-top: 6%;
}
#border-left{
    border-left: 6px solid ;
    border-image: linear-gradient(#e66465, #9198e5);
    border-image-slice: 1;
}
.img {
   width: 40%;
}
.anchor-button{
   background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); 
   padding: 10px 30px;
   border-radius: 5px; 
   text-decoration: none;
   font-weight: 700;
}
#mission {
    color: cornflowerblue;
}
.align-h1{
    text-align: center;
}
#scroll{
    padding-top: 35px;
    color: rgb(248, 177, 119);
}
.cartoons{ 
    width: 60%;
    padding: 10px;
}
.illustrators{
    border-radius: 20px;
    margin-right: 15%;
    margin-left:20px ;
}
#illus-1{ padding-left: 5px;
    margin-left: 140px;
    background-color: darkgray;
    width: 20%;
}
#illus-2{ width: 20%;
        background-color: darksalmon; padding-left: 15px;
}
#illus-3{ width: 20%;
        background-color: darkseagreen; padding-left: 15px;
}
#advicers{
    padding: 15%;
}
#old{
    padding-top: 15%;
    border-radius: 25px;
    padding-left: 25%;
    width: 60%;
}
#hand-img{
    width: 60%;
    border-radius: 40px;
}
#last{
    margin-left: 10%;
}
.purple{
    color: darkviolet;
}